### C++ ###
# Prerequisites
BFS/*.d

# Compiled Object files
BFS/*.slo
BFS/*.lo
BFS/*.o
BFS/*.obj

# Precompiled Headers
BFS/*.gch
BFS/*.pch

# Compiled Dynamic libraries
BFS/*.so
BFS/*.dylib
BFS/*.dll

# Fortran module files
BFS/*.mod
BFS/*.smod

# Compiled Static libraries
BFS/*.lai
BFS/*.la
BFS/*.a
BFS/*.lib

# Executables
BFS/*.exe
BFS/*.out
BFS/*.app

x64/
